/*###################NAV BAR*/
.navbar-toggler{
    border: none !important;
}
.sombra-nav{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
}
.cor-menu{
    color: #1351b4 !important;
    font-size: 25pt !important;

}
.brand-nav{
    padding-top: 7px;

}
.search-color, .search-color:hover{
    background-color: #fff !important;
}
nav .form-control{
    border-color: #fff;
}
/*####################FIM DA NAVBAR*/

/*####################CORPO*/
.midia-bloco{
    height: 375px;
    width: 368px;
}

.destaque1{
    background-image: url("https://www.gov.br/saude/pt-br/pagina-inicial/@@govbr.institucional.tile.nitf/dc1ed83f-4140-4486-bc94-b25b4e450f07/@@images/cb337d30-970d-4d6e-a670-5b1a3fec5722.jpeg");
    background-size: contain;
}